@model Proyect_1.Models.User

@{
    ViewData["Title"] = "Login";
}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow" style="width: 100%; max-width: 400px;">
        <h2 class="text-center mb-4">Iniciar Sesión</h2>
        <form asp-action="Login" method="post">
            <div class="form-group">
                <label asp-for="Name">Nombre de Usuario</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="Password">Contraseña</label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            @if (ViewData["ShowCaptcha"] != null && (bool)ViewData["ShowCaptcha"])
            {
                <div class="form-group mb-4" id="captchaContainer">
                    <label asp-for="Captcha">CAPTCHA</label>
                    <input asp-for="Captcha" class="form-control" value=""/>
                    <span asp-validation-for="Captcha" class="text-danger"></span>
                    <img src="@Url.Action("CaptchaImage", "Home")" alt="CAPTCHA" />
                </div>
            }
            

            <div class="form-group mb-4">
                <button type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
            </div>
        </form>
        <hr />
        <div class="text-center">  
                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="text-danger">
                        @Html.ValidationSummary(true)
                    </div>
                }  
        </div>
    </div>
</div>











