@model Proyect_1.Models.User

@{
    ViewData["Title"] = "Registrar";
}

<form asp-action="Registro" method="post">
    <label for="Name">Nombre de Usuario</label>
    <input type="text" name="Name" required />

    <label for="Password">Contraseña</label>
    <input type="password" name="Password" required />

    <button type="submit">Registrar</button>
</form>

